#
# Copyright (c) 2024 Ireh Choi
# SPDX-License-Identifier: MIT
#

if BOARD_ELKHORN_LEFT

config ZMK_KEYBOARD_NAME
    default "Elkhorn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_ELKHORN_LEFT


if BOARD_ELKHORN_LEFT || BOARD_ELKHORN_RIGHT

config BOARD
    default "elkhorn"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT


endif # BOARD_ELKHORN_LEFT || BOARD_ELKHORN_RIGHT

