#
# Copyright (c) 2024 Ireh Choi
# SPDX-License-Identifier: MIT
#

config BOARD_ELKHORN_V2_LEFT
    bool "elkhorn left v2"
    depends on SOC_NRF52833_QIAA
    select BOARD_ELKHORN_LEFT

config BOARD_ELKHORN_V2_RIGHT
    bool "elkhorn right v2"
    depends on SOC_NRF52833_QIAA
    select BOARD_ELKHORN_RIGHT
